/* styles.css */
.text-style {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #333;
  }

.heading-style {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #333;
}

.background-grey {
  background-color: #f0f0f0; 
}

.navbar-grey{
  background-color: #202020; 
}

.carousel-inner {
  display: flex;
}
.carousel-item {
  flex: 0 0 33.3333%; /* Show 3 items at once */
  max-width: 33.3333%;  /* Limit the width to a third */
}
.carousel-item img {
  width: 100%; /* Make sure images fill the slide container */
}