/* styles.css */
.text-style {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #333;
  }

.heading-style {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #333;
}

.custom-grey {
  background-color: #f0f0f0; 
}